# default is *
ALLOWED_HOSTS=*
# determine whether frontend run in dev mode, default false, DONT COMMENT THIS LINE if you intend to use swdevmode hack
DJANGO_VITE_DEV_MODE=False
# use for access to vite dev server outside localhost, value is default
DJANGO_VITE_DEV_SERVER_HOST=127.0.0.1
