{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'image_picker/css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href="{%  static 'image_picker/css/main.css' %}">
    <!-- slick carosel -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <title>Image Picker</title>
</head>
<body>
<div id="sidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" id="sidenavClose">&times;</a>
  <div class="sidenav-title">Settings</div>
  <div class="d-flex show-mode">
      <span>Show:</span>
      <select id="showMode">
          <option value="unmarked">Unmarked</option>
          <option value="marked">Marked</option>
          <option value="all">All</option>
      </select>
  </div>
  <div class="galleries-container">

  </div>
  <div>
      <a href="javascript:void(0);" class="btn" id="btnSave">Save</a>
  </div>
</div>
<div class="container-sm">
    <div id="imageContainer">
    </div>
    <div class="buttons-panel d-flex justify-content-around">
        <a href="javascript:void(0)" class="btn" id="sidenavOpen">
          <img src="{% static 'image_picker/svg/settings.svg' %}" >
        </a>
        <a href="javascript:void(0)" class="btn" id="random">random</a>
        <a href="javascript:void(0)" class="btn" id="delete">delete</a>
        <a href="javascript:void(0)" class="btn" id="mark">mark</a>
    </div>
</div>

<script src="{% static 'image_picker/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{% static 'image_picker/js/main.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/eruda"></script>
<script>eruda.init();</script>
</body>
</html>